#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	combos {
		compatible = "zmk,combos";
		/* Hold K1 + K4 together briefly to wipe ALL Bluetooth bonds. */
		combo_btclr_all {
			timeout-ms = <50>;
			key-positions = <0 3>;
			bindings = <&bt BT_CLR_ALL>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp N1   &kp N2   &kp N3   &kp N4
			>;
		};
	};
};
