#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define FN   1

/ {
	combos {
		compatible = "zmk,combos";
		/* K1 + K4 同时按 ~50ms = 清掉当前 profile 的配对（救急用） */
		combo_btclr {
			timeout-ms = <50>;
			key-positions = <0 3>;
			bindings = <&bt BT_CLR>;
			layers = <FN>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&mo FN     &kp N2     &kp N3     &kp N4
			>;
		};

		fn_layer {
			bindings = <
				&trans     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_NXT
			>;
		};
	};
};
